In [1]:
import pandas as pd

In [2]:
booking=pd.read_csv('bookings.csv')
listing=pd.read_csv('listings.csv')

In [3]:
booking.head()

,PropertyID,Date,Bookings,Booking Amount,Booking Requests,Property page Views/Visits,Inquiries,Number of times the property got displayed in search page
0,1,2018-11-02,NaN,NaN,NaN,3.0,NaN,100.0
1,1,2018-11-03,NaN,NaN,NaN,1.0,NaN,130.0
2,1,2018-11-04,NaN,NaN,NaN,1.0,NaN,85.0
3,1,2018-11-05,NaN,NaN,NaN,2.0,NaN,80.0
4,1,2018-11-06,NaN,NaN,NaN,1.0,NaN,97.0

In [4]:
listing.head()

,PropertyID,Location,Instant_Booking_Enabled,Premier_Partner_Badge,Number of reviews on the property,Avg Review Rating,Bedrooms,Bathrooms,Maximum Occupancy,PropertyType,Number of photos of the property on the property page,VirtualRealityLaunched
0,1,"Austin, Texas",0,1,20+,4.76+,3,1,5,house,23,Yes
1,2,"Austin, Texas",0,0,20+,4.76+,2,1,5,townhome,34,Yes
2,3,"Austin, Texas",1,0,6 to 11,4.76+,4,3,12,house,24,Yes
3,4,"Austin, Texas",1,1,20+,4.51 - 4.75,1,2,4,cottage,24,Yes
4,5,"Austin, Texas",0,0,5,4.76+,3,3,6,house,5,Yes

In [5]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233891 entries, 0 to 233890
Data columns (total 8 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   PropertyID                                                 233891 non-null  int64
 1   Date                                                       233891 non-null  object
 2   Bookings                                                   7722 non-null    float64
 3   Booking Amount                                             7940 non-null    float64
 4   Booking Requests                                           7842 non-null    float64
 5   Property page Views/Visits                                 208641 non-null  float64
 6   Inquiries                                                  13532 non-null   float64
 7   Number of times the property got displayed in search page  229636 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 14.3+ MB

In [6]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   PropertyID                                             2000 non-null   int64
 1   Location                                               2000 non-null   object
 2   Instant_Booking_Enabled                                2000 non-null   int64
 3   Premier_Partner_Badge                                  2000 non-null   int64
 4   Number of reviews on the property                      2000 non-null   object
 5   Avg Review Rating                                      2000 non-null   object
 6   Bedrooms                                               2000 non-null   int64
 7   Bathrooms                                              2000 non-null   int64
 8   Maximum Occupancy                                      2000 non-null   int64
 9   PropertyType                                           2000 non-null   object
 10  Number of photos of the property on the property page  2000 non-null   int64
 11  VirtualRealityLaunched                                 2000 non-null   object
dtypes: int64(7), object(5)
memory usage: 187.6+ KB

In [7]:
listing.count()/len(listing) # no missing values

PropertyID                                               1.0
Location                                                 1.0
Instant_Booking_Enabled                                  1.0
Premier_Partner_Badge                                    1.0
Number of reviews on the property                        1.0
Avg Review Rating                                        1.0
Bedrooms                                                 1.0
Bathrooms                                                1.0
Maximum Occupancy                                        1.0
PropertyType                                             1.0
Number of photos of the property on the property page    1.0
VirtualRealityLaunched                                   1.0
dtype: float64

In [8]:
df=booking.merge(listing, on='PropertyID', how='left')

In [9]:
df.head()

,PropertyID,Date,Bookings,Booking Amount,Booking Requests,Property page Views/Visits,Inquiries,Number of times the property got displayed in search page,Location,Instant_Booking_Enabled,Premier_Partner_Badge,Number of reviews on the property,Avg Review Rating,Bedrooms,Bathrooms,Maximum Occupancy,PropertyType,Number of photos of the property on the property page,VirtualRealityLaunched
0,1,2018-11-02,NaN,NaN,NaN,3.0,NaN,100.0,"Austin, Texas",0,1,20+,4.76+,3,1,5,house,23,Yes
1,1,2018-11-03,NaN,NaN,NaN,1.0,NaN,130.0,"Austin, Texas",0,1,20+,4.76+,3,1,5,house,23,Yes
2,1,2018-11-04,NaN,NaN,NaN,1.0,NaN,85.0,"Austin, Texas",0,1,20+,4.76+,3,1,5,house,23,Yes
3,1,2018-11-05,NaN,NaN,NaN,2.0,NaN,80.0,"Austin, Texas",0,1,20+,4.76+,3,1,5,house,23,Yes
4,1,2018-11-06,NaN,NaN,NaN,1.0,NaN,97.0,"Austin, Texas",0,1,20+,4.76+,3,1,5,house,23,Yes

In [10]:
df.count()/len(df)

PropertyID                                                   1.000000
Date                                                         1.000000
Bookings                                                     0.033015
Booking Amount                                               0.033947
Booking Requests                                             0.033528
Property page Views/Visits                                   0.892044
Inquiries                                                    0.057856
Number of times the property got displayed in search page    0.981808
Location                                                     1.000000
Instant_Booking_Enabled                                      1.000000
Premier_Partner_Badge                                        1.000000
Number of reviews on the property                            1.000000
Avg Review Rating                                            1.000000
Bedrooms                                                     1.000000
Bathrooms                                                    1.000000
Maximum Occupancy                                            1.000000
PropertyType                                                 1.000000
Number of photos of the property on the property page        1.000000
VirtualRealityLaunched                                       1.000000
dtype: float64

In [12]:
df.groupby('VirtualRealityLaunched').size()

VirtualRealityLaunched
No      81473
Yes    152418
dtype: int64

In [13]:
listing.groupby('VirtualRealityLaunched')['PropertyID'].count() 
# 1304 properties launched VR and 696 have not launched VR

VirtualRealityLaunched
No      696
Yes    1304
Name: PropertyID, dtype: int64

In [14]:
df.to_csv('combined.csv')

In [15]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.utils import resample
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [16]:
df=pd.read_csv('combined.csv')

In [17]:
df.columns

Index(['Unnamed: 0', 'PropertyID', 'Date', 'Bookings', 'Booking Amount',
       'Booking Requests', 'Property page Views/Visits', 'Inquiries',
       'Number of times the property got displayed in search page', 'Location',
       'Instant_Booking_Enabled', 'Premier_Partner_Badge',
       'Number of reviews on the property', 'Avg Review Rating', 'Bedrooms',
       'Bathrooms', 'Maximum Occupancy', 'PropertyType',
       'Number of photos of the property on the property page',
       'VirtualRealityLaunched'],
      dtype='object')

In [18]:
import numpy as np
import datetime
from datetime import datetime

df['Date']=df['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [19]:
# organize the df into test and control
df['test']=np.where(df['VirtualRealityLaunched']=='Yes', 1,0)

# adding time variable
df['time']=np.where(df['Date']>=datetime.strptime('2019-01-01', '%Y-%m-%d'), 1,0)

In [20]:
#creating interaction variable
df['did'] = df['time'] * df['test']

In [21]:
df.groupby('time')['PropertyID'].count()

time
0    114889
1    119002
Name: PropertyID, dtype: int64

In [22]:
len(df.columns)

23

In [23]:
df.head()

,Unnamed: 0,PropertyID,Date,Bookings,Booking Amount,Booking Requests,Property page Views/Visits,Inquiries,Number of times the property got displayed in search page,Location,...,Avg Review Rating,Bedrooms,Bathrooms,Maximum Occupancy,PropertyType,Number of photos of the property on the property page,VirtualRealityLaunched,test,time,did
0,0,1,2018-11-02,NaN,NaN,NaN,3.0,NaN,100.0,"Austin, Texas",...,4.76+,3,1,5,house,23,Yes,1,0,0
1,1,1,2018-11-03,NaN,NaN,NaN,1.0,NaN,130.0,"Austin, Texas",...,4.76+,3,1,5,house,23,Yes,1,0,0
2,2,1,2018-11-04,NaN,NaN,NaN,1.0,NaN,85.0,"Austin, Texas",...,4.76+,3,1,5,house,23,Yes,1,0,0
3,3,1,2018-11-05,NaN,NaN,NaN,2.0,NaN,80.0,"Austin, Texas",...,4.76+,3,1,5,house,23,Yes,1,0,0
4,4,1,2018-11-06,NaN,NaN,NaN,1.0,NaN,97.0,"Austin, Texas",...,4.76+,3,1,5,house,23,Yes,1,0,0

In [24]:
# use diff-in-diff 

# Booking Amount

#Splitting variables into dependent (x) and independent (y) variables
x = df[['time', 'test', 'did']]
y = df['Booking Amount']

y=y.fillna(0)

In [25]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x, y)

In [26]:
model.coef_

array([60.82555841,  2.87894169, -1.51291676])

In [27]:
# Model to get the summary statistics
import statsmodels.api as sm

X2 = sm.add_constant(x)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

# not significant
# Coefficients of the variable did provides the true lift of the treatment. 
# In this case, the treatment has a negative performance on the outcome variable.

                            OLS Regression Results
==============================================================================
Dep. Variable:         Booking Amount   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     197.1
Date:                Fri, 29 Oct 2021   Prob (F-statistic):          1.04e-127
Time:                        15:02:33   Log-Likelihood:            -1.8262e+06
No. Observations:              233891   AIC:                         3.652e+06
Df Residuals:                  233887   BIC:                         3.653e+06
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         48.5927      2.971     16.356      0.000      42.770      54.416
time          60.8256      4.172     14.580      0.000      52.649      69.002
test           2.8789      3.684      0.782      0.434      -4.341      10.099
did           -1.5129      5.168     -0.293      0.770     -11.642       8.616
==============================================================================
Omnibus:                   423270.339   Durbin-Watson:                   1.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        772751517.572
Skew:                          13.276   Prob(JB):                         0.00
Kurtosis:                     283.336   Cond. No.                         8.31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [28]:
# use diff-in-diff 

# Bookings

#Splitting variables into dependent (x) and independent (y) variables
x = df[['time', 'test', 'did']]
y = df['Bookings']

y=y.fillna(0)

In [29]:
model = LinearRegression().fit(x, y)

In [30]:
model.coef_

array([ 0.02708285,  0.00153903, -0.00463859])

In [31]:
# Model to get the summary statistics
import statsmodels.api as sm

X3 = sm.add_constant(x)
est = sm.OLS(y, X3)
est3 = est.fit()
print(est3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Bookings   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     310.9
Date:                Fri, 29 Oct 2021   Prob (F-statistic):          1.79e-201
Time:                        15:02:33   Log-Likelihood:                 54886.
No. Observations:              233891   AIC:                        -1.098e+05
Df Residuals:                  233887   BIC:                        -1.097e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0214      0.001     22.376      0.000       0.019       0.023
time           0.0271      0.001     20.196      0.000       0.024       0.030
test           0.0015      0.001      1.300      0.194      -0.001       0.004
did           -0.0046      0.002     -2.792      0.005      -0.008      -0.001
==============================================================================
Omnibus:                   255586.836   Durbin-Watson:                   1.911
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         15151152.073
Skew:                           5.830   Prob(JB):                         0.00
Kurtosis:                      40.666   Cond. No.                         8.31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
# use diff-in-diff 

# Property page Views/Visits

#Splitting variables into dependent (x) and independent (y) variables
x = df[['time', 'test', 'did']]
y = df['Property page Views/Visits']

y=y.fillna(0)

In [33]:
model = LinearRegression().fit(x, y)

In [34]:
model.coef_

array([ 6.6445379 , -0.86018939, -0.90546992])

In [35]:
# Model to get the summary statistics
import statsmodels.api as sm

X4 = sm.add_constant(x)
est = sm.OLS(y, X4)
est4 = est.fit()
print(est4.summary())
# significant
# Coefficients of the variable did provides the true lift of the treatment. 
# In this case, the treatment has a negative performance on the outcome variable.

                                OLS Regression Results
======================================================================================
Dep. Variable:     Property page Views/Visits   R-squared:                       0.022
Model:                                    OLS   Adj. R-squared:                  0.022
Method:                         Least Squares   F-statistic:                     1765.
Date:                        Fri, 29 Oct 2021   Prob (F-statistic):               0.00
Time:                                15:02:33   Log-Likelihood:            -1.0393e+06
No. Observations:                      233891   AIC:                         2.079e+06
Df Residuals:                          233887   BIC:                         2.079e+06
Df Model:                                   3
Covariance Type:                    nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.7230      0.103     65.436      0.000       6.522       6.924
time           6.6445      0.144     46.057      0.000       6.362       6.927
test          -0.8602      0.127     -6.753      0.000      -1.110      -0.611
did           -0.9055      0.179     -5.066      0.000      -1.256      -0.555
==============================================================================
Omnibus:                   828904.871   Durbin-Watson:                   0.572
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    1749150068205.043
Skew:                          69.786   Prob(JB):                         0.00
Kurtosis:                   13399.422   Cond. No.                         8.31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [36]:
# use diff-in-diff 

# Number of times the property got displayed in search page

#Splitting variables into dependent (x) and independent (y) variables
x = df[['time', 'test', 'did']]
y = df['Number of times the property got displayed in search page']

y=y.fillna(0)

In [37]:
model = LinearRegression().fit(x, y)

In [38]:
model.coef_

array([154.70610862,   1.27363174,  -4.92606139])

In [39]:
# Model to get the summary statistics
import statsmodels.api as sm

X5 = sm.add_constant(x)
est = sm.OLS(y, X5)
est5 = est.fit()
print(est5.summary())

                                                OLS Regression Results
=====================================================================================================================
Dep. Variable:     Number of times the property got displayed in search page   R-squared:                       0.017
Model:                                                                   OLS   Adj. R-squared:                  0.017
Method:                                                        Least Squares   F-statistic:                     1329.
Date:                                                       Fri, 29 Oct 2021   Prob (F-statistic):               0.00
Time:                                                               15:02:33   Log-Likelihood:            -1.8202e+06
No. Observations:                                                     233891   AIC:                         3.640e+06
Df Residuals:                                                         233887   BIC:                         3.640e+06
Df Model:                                                                  3
Covariance Type:                                                   nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        272.3955      2.895     94.085      0.000     266.721     278.070
time         154.7061      4.065     38.054      0.000     146.738     162.674
test           1.2736      3.590      0.355      0.723      -5.762       8.309
did           -4.9261      5.036     -0.978      0.328     -14.797       4.945
==============================================================================
Omnibus:                   614144.076   Durbin-Watson:                   0.449
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      41475741630.807
Skew:                          30.541   Prob(JB):                         0.00
Kurtosis:                    2065.080   Cond. No.                         8.31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.